<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POC">
<listeners>
<listener class-name = "resources.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="GPSEnableHamburgerScrolling">
    <classes>
      <!--  class name="AppiumCRMpoc.AppiumCRMpocAI.Login_tc"/>-->
      <class name="AppiumCRMpoc.AppiumCRMpocAI.hamburgerscrollable_tc_1"/>
      <class name="AppiumCRMpoc.AppiumCRMpocAI.LeadLayoutopencheck_tc"/>
      <class name="AppiumCRMpoc.AppiumCRMpocAI.gpsEnable_tc2"/>
      <class name="AppiumCRMpoc.AppiumCRMpocAI.SortingButtoncheck_tc"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->























